* {
    box-sizing: border-box;
}

.h-100 {
    height:100%!important;
}

.flex-column {
    flex-direction: column!important;
}

.d-flex {
    display: flex!important;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    background-color: black;
    color: white; 
}

h1 {
    font-size: 45px;
    color: brown;
    text-align: center; 
}

#play-button {
    background-color: green;
    border: black; 
    padding: 15px; 
    height: 50px; 
}

.btn:hover {
    background-color: brown;
}

.header-pic {
    width: 100%;
}

.text-muted {
    font-size: 12px;
}

.grass {
    color: green;
    width: 100%;
    height: 230px;
    background-color: green;
}

#directions-text {
    text-align: center; 
}

#word-text {
    text-align: center;
    margin-top: 10px;
    border: 2px solid green;
    width: 350px;
    height: 95px;
    padding: 20px;
}


#wins-text, #losses-text {
    color: black;
    border: 2px solid black; 
    padding: 10px; 
}

#wagon-oxen {
    width: 200px;
    height: 100px; 
}

#win-image, #lose-image {
    width: 250px;
    height: 250px;  
}

#win-image {
    margin-left: 265px!important;
}

#lose-image {
    margin-left: 250px!important; 
}
